<tr data-link="/admin/messages/1" class="admin-convolist-tr">
    <td id="th-avatar">
        <div class="admin-msgs-avatar"></div>
    </td>
    <td id="th-name">
        <div class="admin-msgs-conversation-label">
            <a href="/admin/messages/0">
            <h3><%=username%></h3>
            <p><%=msg%></p>
            </a>
        </div>
    </td>
    <td id="th-time">
        <p>Jul 13</p>
    </td>
    <td id="th-status">
        <i>🤦‍♂️</i>
    </td>
<tr>