<% if chat_msgs.nil? || chat_msgs.empty? %>

    <div class="admin-thread">
        <div class="admin-messageslist">
            <h3>Choose conversation to display .... </h3>
        </div>
    </div>

<% else %>

    <div class="admin-thread">
        <%# header %>


        <div class="admin-messageslist">

            <% chat_msgs.each do |cmsg| %>

                <%= render "thread_message", message: cmsg, is_sender: (cmsg.sender_id == @message.sender_id) %>

            <% end %>


        </div>
    </div>

    <%= render "thread_form", sender_message: chat_msgs.first, sender_id: @message.sender_id %>

<% end %>




