
<%= form_with url: admin_messages_path do |f|  %>

    <div class="admin-thread-inputpanel">
        <div class="admin-thread-userinput-wrapper">
            <%= f.text_area :body, placeholder: 'type to chat ...' , class: "input-large" %>
            <%= f.hidden_field :thread_id, value: sender_id,  class: "input-large" %>
        </div>
        <div><%= submit_tag 'Save', class: "btn-large btn-warning" %></div>
    </div>

<% end %>