<% content_for :page_title do %>

<% end %>


<div class="admin-msgs-header">
  <h2>Messages</h2>
  <input class="admin-msgs-searchinput" type="text" placeholder="Search">
</div>

<div class="admin-msgs-gridcontainer">
  <%# first col %>
  <div>



    <div class="admin-tableContainer">
      <table class="table">
        <thead class="admin-convolist-thead">
          <%# conversation list by user %>
          <th id="th-avatar">Avatar</th>
          <th id="th-name">Name</th>
          <th id="th-time">Time</th>
          <th id="th-status">Status</th>
        </thead>
        <tbody class="admin-convolist-tbody">
            <% @messages.each do |me| %>

               <%= render 'conversation', message: me %>

            <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <%# second col %>
  <div class="admin-thread-list">
    <div class="admin-top-controls">
      <div>
        <button></button>
        <span>Create Support Ticket</span>
      </div>
    </div>

    <%# thread list (chatbubbles) %>
    <%= render "thread", chat_msgs: @chat_messages %>


  </div>

</div>