<% content_for :page_title do %>
  
<% end %>



<div id="new_chat"></div>


<table class="table sortable" id="listing_option_types" data-hook data-sortable-link="<%= update_positions_admin_option_types_url %>">
  <thead>
    <ul>
      <li>I am a support chat</li>
      <li>I am a support chat</li>
      <li>I am a support chat</li>
      <li>I am a support chat</li>
    </ul>
  </thead>
  <tbody>
    
  </tbody>
</table>
